* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    
    
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #faf8f8;
    background-image: url("/img/pokeball1.png"), url("/img/pokeball3\ .png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 300px;
    
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 800px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}